.productItem {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  list-style: none;
}

.newProductForm {
  margin-top: 12px;
}

.newProductForm label {
  display: block;
}
.newProductForm input {
  display: block;
}
